body {
    font-family: sans-serif;
}

a {
    color: #369;
}

.note {
    width: 500px;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 50px auto;
    padding: 20px;
}

.drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

.gallery {
    margin-top: 10px;
}

.gallery .img_preview {
    width: 150px;
}

.gallery .img_preview i {
    font-size: 1rem;
    background-color: white;
    float: left;
    border: 1px solid black;
    padding: 1px;
}

.gallery .img_preview img {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
    position: relative;
    top: 0rem;
    left: -2rem;
    z-index: -100;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

.fileElem {
    display: none;
}